.new-testimonial{
    padding: 60px 30px 30px;
    margin: 50px 30px 30px;
    border: 1px solid #2874f0;
    position: relative;
}
.new-testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #2874f0;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
}
.new-testimonial .pic img{
    width: 100%;
    height: auto;
}
.new-testimonial .description{
    font-size: 15px;
    color: black;
    line-height: 27px;
    text-align: center;
    margin: 0;
    position: relative;
    text-align: center;
}
.new-testimonial .title{
    display: inline-table;
    padding: 10px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #2874f0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    bottom: -22px;
}
.new-testimonial .post{
    font-size: 15px;
    color: #671a36;
}
