.pdf-section .pdf{
    background-color: rgb(0, 0, 0,0.3); 
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}
.pdf-section .pdf #pdf-render{
    border: 2px solid #2874f0;
    border-radius: 10px;
}

.pdf-section .card{
    border-top: 4px solid #2874f0;
    border-radius: 10px;
}

.pdf-section .card a{
    color: blue;
    font-size: 18px;
}
.pdf-section .card a:hover{
    text-decoration: underline;
}

.pdf-section .top-bar{
    position: sticky;
    top: 60px;
    padding: 10px;
    background-color: #fff;
}
.pdf-section .btn-primary{
    width: 12%;   
}